<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted p-0">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Entre em contato conosco através das redes sociais</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="d-flex justify-content-center justify-content-around text-decoration-none">
      <!-- Facebook -->
          <a style="font-size: 26px;"href="#" class="fa fa-facebook-square me-2 text-decoration-none text-primary "></a>


          <!-- Instagram -->
          <a style="font-size: 26px;" href="#" class="fa fa-instagram me-2 text-decoration-none text-danger"></a>

          <!-- Linkedin -->
          <a style="font-size: 26px;" href="#" class="fa fa-linkedin me-2 text-decoration-none text-primary "></a>

          <!-- Github -->
          <a style="font-size: 26px;" href="#" class="fa fa-github me-2 text-decoration-none text-light"></a>

        
              </div>
              <!-- Right -->
            </section>
            <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="text-center text-md-start mt-5">
      <!-- Grid row -->
      <div style="    width: 100%; text-align:center;" class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 p-0">
          <!-- Content -->
            <a class="navbar-brand align-items-center align-text-center" href="/"><img style="margin-top: 5px; width: 66px; height: 60px;" src="/imagens/logo.png" alt=""></a>

          <p class="text-center">
            A Cidre Informatica é uma empresa do ramo de varejo diversos e serviços de TI. É uma empresa pensada no melhor para seus consumidores.
            Empregando excelencia no pre e no pos venda.
          </p>
        </div>
        <!-- Grid column -->

     
        <!-- Grid column -->
        <div style="display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;" class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links úteis
          </h6>
          <p>
            <a href="#!" class="text-reset">Preços</a>
          </p>
  
          <p>
            <a href="/contato" class="text-reset">Fale conosco</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div style="display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;"  class=" col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contato
          </h6>
          <p><span class="fa fa-home me-3"></span> São Paulo, SP, BR</p>
          <p>
            <span class="fa fa-envelope me-3"></span>
            andrecidre@hotmail.com
          </p>
          <p><span class="fa fa-phone me-3"></span> +55 11 94078-5004</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Cidre Informatica © 2021 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="/js/loader.js"></script> 