<a class="whatsapp-link" href="https://api.whatsapp.com/send?phone=5511940785004&text=Ol%C3%A1%2C%20poderia%20me%20dar%20mais%20informa%C3%A7%C3%B5es%3F" target="_blank">
    <span class="fa fa-whatsapp"></span>
</a>