


<body>
    <form action="" method="post">  
        <%= email %> 
        <h1>email encontrado e enviado!</h1>
        <label for="esqueci">Digite seu email: </label>
        <input type="emailt" placeholder="email">
    </form>
    
</body>