<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head")%>
<body>

    <%- include("./partials/header") %>


        <form class="container" style="margin-top: 88px; border: solid 2px; margin-bottom: 15px;"
                action="https://formspree.io/f/mayvlrzj"
                method="POST"
                onsubmit="ValidaCadastro(event)" novalidate
                >
                <% if(estaLogado){ %> 
                    <h1>Olá  <%= usuario.nome %> </h1>
                  <% }else{ %> 
                    <h1>Olá Visitante</h1>
                    <% }  %> 
              <div class="form-group">

                  
                    <label for="exampleFormControlInput1">
                      
                      <th type="email" name="email" readonly=“true” value="andrecidre@hotmail.com" hidden>
                      </label>
              
                         
  
                  <label for="exampleFormControlInput1" >Nome</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="nome" data-required>
                  <br>
                  <hr>

                  <label for="exampleFormControlInput1" >email</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" name="email-usuario" placeholder="name@example.com" data-required>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Motivo do contato</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="contato" data-required>
                      <option>produtos</option>
                      <option>login</option>
                      <option>erros</option>
                      <option>serviços</option>
                    </select>
                    </div>
                  <br>
                  <hr>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="descricao" rows="3"></textarea>
                  </div>
  
                  <hr>
                  
  
                  <button style="width: 100px;" class="btn btn-primary active "  type="submit">Enviar</button>
              </div>
        </form>

        <%- include("./partials/footer") %>
</body>
<script src="/js/validacao.js"></script>
<script src="/js/cadastro.js"></script>
</html>


