<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head")%>

<body>
        <%- include("./partials/header") %>
        <main>
        <section class="section-body">
            <section class="contato">
                <div class="container">
                    <h1>Erro</h1>

                    <div class="align-row">
                            <h1>OCORREU ERRO DE VALIDAÇÃO</h1>


                            <span><%= mensagemErro %> </span>
                    </div>
                </div>
            </section>
        </section>
    </main>
        <%- include("./partials/footer") %>
    
</body>

</html>