<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Empresa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/listaerros.css">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Login Empresa</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <!-- Formulário para login -->
                <form method="POST" action="/superadmin/loginempresa" onsubmit="return ValidaLogin(event)" novalidate>
					<div class="lista-erros"></div>
					
                    <!-- Campo Email -->
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" class="form-control" name="email" placeholder="Digite seu email" data-required required>
					</div>
					
                    <!-- Campo Senha -->
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="senha" class="form-control" placeholder="Digite sua senha" data-required required>
					</div>
					
                    <!-- Botão de Envio -->
                    <div class="form-group">
						<input type="submit" value="Entrar" class="btn float-right login_btn">
					</div>
				</form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Não tem uma conta? <a href="/superadmin/cadastro">Cadastre-se</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Esqueceu a senha?</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/loginValida.js"></script>
<script src="/js/validacao.js"></script>
</body>
</html>
