/* CSS para Dropdowns */
.dropdown-menu {
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
  margin-top: -20px;
  background: #252525 !important;
  color: white!important
}
.dropdown-menu a{
  color: white!important
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: -20px;
  background: #252525 !important;
  color: white!important
}
