<html lang="en">
    <%- include("../partials/head")%>

<body>
    <%- include("../partials/header") %>
    <main>        


        <h1>nulo</h1>
 
  <a href="/admin/produtos/criar">Novo serviço</a>
</main>
    <%- include("../partials/footer") %>
</body>

</html>