<html lang="en">
    <%- include("../partials/head")%>
<body>
    <%- include("../partials/header") %>
    <main class="d-flex" style="margin-top: 88px;" >
        <section class="container-fluid d-flex align-baseline" style="margin-top: 88px; align-items: baseline;" >
            <div class="container-fluid d-flex flex-column" >
                <div class="container" id="menu-dash-admin">
                    <ul>
                        <li><h2><%= usuarioLogado.nome  %> </h2></li>
                        <li><strong>Perfil</strong> </li>
                        <li><strong><a href="/superadmin/produtos">ir para produtos</strong></a></li>
                        <li><strong><a href="/superadmin/categorias">ir para categorias</a></strong></li>
                        <li><strong><a href="/superadmin/favoritos">ir para favoritos</a></strong></li>
                    </ul>

                </div>
            </div>
            <div class="container-fluid">

            <div class="container-fluid" id="containers-admin">
                        <ul>
                            <li><strong> Informações de vendas</li></strong>
                            <li>Vendidos</li>
                            <li>Total R$500</li>    
                        </ul>
                   
        </div>
        </section>
        
    </main>
   <%- include('../partials/footer') %> 
</body>
</html>